%ul.nav.navbar-nav.navbar-right.root_links
  - actions(:root).select(&:show_in_navigation).each do |action|
    %li{class: "#{action.action_name}_root_link"}= link_to wording_for(:menu, action), { action: action.action_name, controller: 'rails_admin/main' }, class: action.pjax? ? "pjax" : ""
  